.wrapper {
  display: grid;
  grid-template-columns: repeat(8, auto);
  align-self: start;
  row-gap: 20px;
  margin-bottom: 40px;
}

.champion {
  position: relative;
  height: 100px;
  width: 100px;
  text-align: center;
}

.wrapperSmall {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  margin-bottom: 40px;
}

.championSmall {
  position: relative;
  height: 64px;
  width: 64px;
  text-align: center;
}

.champion img {
  height: 85%;
}

.championInfo {
  background-color: black;
  color: white;
  position: absolute;
  top: 81%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 85%;
}

@media (max-width: 700px) {
  .wrapper {
    grid-template-columns: repeat(3, auto);
  }
}
