.ts-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  margin: 10px;
}

.ts-row {
  display: grid;
  grid-template-columns: 1fr 4fr;
  border: 1px solid black;
}

.ts-icon {
  text-align: center;
}

.ts-icon img {
  width: 94px;
  height: 94px;
}
