.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  margin: 10px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 4fr;
  border: 1px solid black;
}

.icon {
  /* border: 1px solid red; */
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 10px;
  grid-auto-rows: min-content;
  align-items: center;
}

.icon span {
  /* border: 1px solid green; */
}

.icon img {
  /* border: 1px solid blue; */
  width: 94px;
  height: 94px;
}
