.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  margin: 10px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 10px;
  /* border: 1px solid black; */
}

.icon {
  /* border: 1px solid red; */
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 10px;
  grid-auto-rows: min-content;
  align-items: center;
}

.icon span {
  /* border: 1px solid green; */
}

.icon img {
  /* border: 1px solid blue; */
  width: 94px;
  height: 94px;
}

.description {
}

.bronze {
  width: 52px;
  height: 58px;
  background: url("/images/traits/bg.png") 219px 0;
}

.silver {
  width: 52px;
  height: 58px;
  background: url("/images/traits/bg.png") 163px 0;
}

.chromatic {
  width: 52px;
  height: 58px;
  background: url("/images/traits/bg.png") 52px 0;
}

.gold {
  width: 52px;
  height: 58px;
  background: url("/images/traits/bg.png") 108px 0;
}

